name: CI

on:
    pull_request:
        branches: [develop, main]
    push:
        branches: [develop, main]

jobs:
    build:
        name: Build & Lint
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup Node.js
              uses: actions/setup-node@v4
              with:
                  node-version: '20'
                  cache: 'yarn'

            - name: Install dependencies
              run: yarn install --frozen-lockfile

            - name: Build
              run: yarn build

            - name: Lint
              run: yarn lint
              continue-on-error: true
